body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.task-list {
    width: 40vw;
    margin: 10vh auto;
}

.btn {
    margin: 0 5px;
}

.inline {
    display: inline-block !important;
}

input[type="text"] {
    display: inline-block;
    width: 200px;
}

.show {
    display: block;
}

.hide {
    display: none
}

.isCompleted {
    text-decoration: line-through;
}